<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.frequent.dao.FrequentContactDao">

    <select id="selectById" resultType="com.bootdo.frequent.domain.FrequentContact">
        select *
        from frequent_contact where id = #{value}
    </select>

    <select id="selectAll" resultType="com.bootdo.frequent.domain.FrequentContact">
        select *
        from  frequent_contact
    </select>

    <insert id="save" parameterType="com.bootdo.frequent.domain.FrequentContact" useGeneratedKeys="true" keyProperty="id">
        insert into frequent_contact
        (
            `sysId`,
            `chineseName`,
            `englishName`,
            `sex`,
            `identityType`,
            `identityCode`,
            `relationType`,
            `mobilePhone`,
            `email`,
            `pcode`,
            `ccode`,
            `areacode`,
            `address`,
            `isFrequent`,
            `birthday`,
            `addDate`
        )
        values
        (
            #{sysId},
            #{chineseName},
            #{englishName},
            #{sex},
            #{identityType},
            #{identityCode},
            #{relationType},
            #{mobilePhone},
            #{email},
            #{pcode},
            #{ccode},
            #{areacode},
            #{address},
            #{isFrequent},
            #{birthday},
            #{addDate}
        )
    </insert>

    <update id="updateSysIdById" parameterType="com.bootdo.frequent.domain.FrequentContact">
        update frequent_contact
        <set>
            <if test="sysId != null">`sysId` = #{sysId}</if>
        </set>
        where id = #{id}
    </update>

</mapper>